<launch>
	<arg name="param_calib_left"  value="back/left.yaml" />
	<arg name="param_calib_right" value="back/right.yaml" />

  <!-- Left image detector node -->
	<node pkg="rovi2_development" type="image_detector" name="image_detector_left" output="screen">
		<param name="image_sub" value="/camera/left/image_raw" />
		<param name="point_pub" value="/pose/2d_left" />
		<param name="calibration_yaml_path" value="$(arg param_calib_left)" />
	</node>

	<!-- Right image detector node -->
	<node pkg="rovi2_development" type="image_detector" name="image_detector_right" output="screen" >
		<param name="image_sub" value="/camera/right/image_raw" />
		<param name="point_pub" value="/pose/2d_right" />
		<param name="calibration_yaml_path" value="$(arg param_calib_right)" />
	</node>

	<!-- Stereo node -->
	<node pkg="rovi2_development" type="stereo" name="stereo_node" output="screen">
		<param name="point_sub_left" value="/pose/2d_left" />
		<param name="point_sub_right" value="/pose/2d_right" />
		<param name="point_pub" value="/pose/3d" />
		<param name="calibration_yaml_path_left" value="$(arg param_calib_left)" />
		<param name="calibration_yaml_path_right" value="$(arg param_calib_right)" />
		<param name="param_hte_path" value="/back/hte_back.yaml" />
		<param name="flip_z" value="false" />
	</node>

  <!-- Kalman node -->
  <node pkg="rovi2_development" type="kalman_node" name="kalman_node" output="screen">
  </node>

	<!-- Trajectory plotter raw node -->
	<node pkg="rovi2_development" type="trajectory_plotter.py" name="plot_raw_parameter" output="screen">
		<param name="sub_parameter" value="/pose/parameter_raw" />
	</node>

  <!-- Trajectory plotter node -->
  <node pkg="rovi2_development" type="trajectory_plotter.py" name="plot_parameter" output="screen">
    <param name="sub_parameter" value="/pose/parameter" />
  </node>

</launch>
