<launch>
  <!-- Start the caros nodes -->

  <!-- use something like set_workcell:=0 (to disable setting a workcell using this launch script), or specify a specific workcell using workcell_path:=/path/to/the/workcell on the roslaunch commandline -->
  <arg name="set_workcell" default="1" />
  <group if="$(arg set_workcell)">
    <arg name="workcell_path" default="$(env RW_ROOT)/example/ModelData/XMLScenes/RobotOnTable/Scene.xml" />
    <param name="/caros/workcell" value="$(arg workcell_path)" />
  </group>

  <group>
    <include file="$(find rovi2_development)/launch/caros_universalrobot_param.xml" ns="caros_universalrobot">
      <!-- No parameters have to be set - relying on default values, but they are highly dependent on the workcell that is being used -->
    </include>
    <!-- The 'name' parameter has to match the 'ns' parameter used in the include tag above -->
    <node pkg="caros_universalrobot" type="caros_universalrobot_node" name="caros_universalrobot">
    </node>
  </group>


  <node name="square_mover" pkg="rovisquaremover" type="node"/>
</launch>
